variables:
    # Configure mysql service (https://hub.docker.com/_/mysql/)
    MYSQL_DATABASE: wordpress_tests
    MYSQL_ROOT_PASSWORD: mysql

PHPCS:PHP7.2:MySQL:
    image: gagan0123/php:7.2
    script:
        - phpcs
    allow_failure: true

WP-Latest:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql latest true
        - phpunit

WP-Latest:PHP7.2:
    image: gagan0123/php:7.2
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql latest true
        - phpunit

WP4.9.9:PHP7.2:
    image: gagan0123/php:7.2
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.9.9 true
        - phpunit

WP4.8.8:PHP7.2:
    image: gagan0123/php:7.2
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.8.8 true
        - phpunit

WP4.7.12:PHP7.2:
    image: gagan0123/php:7.2
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.7.12 true
        - phpunit

WP4.6.13:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.6.13 true
        - phpunit

WP4.5.16:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.5.16 true
        - phpunit

WP4.4.17:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.4.17 true
        - phpunit

WP4.3.18:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.3.18 true
        - phpunit

WP4.2.22:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.2.22 true
        - phpunit

WP4.1.25:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.1.25 true
        - phpunit

WP4.0.25:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 4.0.25 true
        - phpunit

WP3.9.26:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 3.9.26 true
        - phpunit

WP3.8.28:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 3.8.28 true
        - phpunit

WP3.7.28:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 3.7.28 true
        - phpunit

WP3.6.1:PHP5.6:
    image: gagan0123/php:5.6
    services:
        - mysql:5.6
    script:
        # Set up WordPress tests
        - bash bin/install-wp-tests.sh wordpress_tests root mysql mysql 3.6.1 true
        - phpunit
